.task-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.task-content-dialogue, app-notepad2 {
  min-width: 250px;
  width: 50%;
  @media (max-width: 640px) {
    width: 100%;
  }
}
app-notepad2 {
  min-width: 300px;
}
.task-content-dialogue {
  padding: 20px;
  position: relative;
  .dialogue-character {
    height: 60vh;
    min-height: 300px;
    padding: 45px 0 5px;
    display: block;
    margin: 0 auto;
  }
  .mat-card {
    background: $light-gray;
    box-shadow: none;
  }
  .mat-card:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid $light-gray;
    border-right: 20px solid transparent;
    border-top: 20px solid $light-gray;
    border-bottom: 20px solid transparent;
    bottom: -40px;
    left: 50%;
  }
}
.task-content-notepad {
  .notepad {
    background-image: url('assets/img/notepad.svg');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 500px;
    text-align: center;
    padding: 15% 5%;
    color: $dark-primary;
  }
  .questions {
    .question {
      font-size: 1.3em;
    }
    // .question {
    //   margin-right: 10px;
    // }
    // .answer-placeholder {
    //   display: inline-block;
    //   background: $light-gray;
    //   border-radius: 16px;
    //   width: 100%;
    //   min-height: 32px;
    //   &.active-placeholder.empty-placeholder  {
    //     background: #b0bcff;
    //   }
    //   &.correct:not(.empty-placeholder) {
    //     background: $correct-bg;
    //   }
    //   &.incorrect:not(.empty-placeholder) {
    //     background: $incorrect-bg;
    //   }
    // }
  }
  .answers {
    max-width: 300px;
    margin: 5% auto 0;
    padding: 5px;
    // border-radius: 40px;
    // border: 3px dotted $primary;
    background: #ffe883;
    box-shadow: 10px 10px 8px -6px #a6a6a6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .answer {
      margin: 2px;
    }
  }

}
.answer {
  display: inline-block;
  padding: 7px 12px;
  background: $primary;
  color: #fff;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background: $dark-primary;
  }
}