.fourth-task{
  padding: 5%;
  padding-top: 3%;
  .cipher-task {
    display: flex;
    flex-wrap: wrap;
  }
  .cipher-container {
    width: 50%;
    min-width: 300px;
    margin-bottom: 10px;
    @media (max-width: 700px) {
      width: 100%;
    }
    .cipher-box {
      background: #888888;
      margin: 0 auto;
      height: calc(100vh - 200px);
      min-height: 450px;
      width: 100%;
      max-width: 500px;
      padding: 10px;
      border-radius: 32px;
      .digits {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      .digit {
        width: 30px;
        height: 40px;
        margin: 0 2px;
        background: #fff;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        line-height: 40px;
        &.correct-digit {
          background: $correct-bg;
        }
        &.incorrect-digit {
          background: $incorrect-bg;
        }
      }
      .safe-box {
        width: calc(100%-50px);
        min-height: 335px;
        height: calc(100vh - 340px);
        background: $light-gray;
        margin: 25px;
        border-radius: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .safe-door {
          position: absolute;
          background: #888888;
          color: #ffffff;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          z-index: 10;
          &.can-open:hover {
            transform: scale(1.1);
          }
          button {
            background: transparent;
            font-size: 2em;
            line-height: 200px;
            &:hover {
              background: transparent;
              div {
                background: transparent;
              }
            }
          }
        }
        img.stolen-item {
          height: auto;
          width: auto;
          max-height: 200px;
          max-width: 200px;
          transition: opacity 1s;
          z-index: 1;
          &.opacity-hidden {
            opacity: 0;
          }
        }
      }
    }
  }
  .exercises {
    height: calc(100vh - 200px);
    overflow-x: auto;
    padding: 10px 20px;
    width: 50%;
    min-width: 300px;
    @media (max-width: 700px) {
      width: 100%;
    }
    mat-card {
      height: calc(100vh - 220px);
      background: #e8f2f9;
      box-shadow: 10px 10px 8px -6px #9fa2a7;
      padding: 10% 10% 20px;
      h3 {
        text-align: center;
        padding-top: 50px;
      }
    }
    .mat-card-title {
      font-size: 1.1em;
      font-weight: normal;
      .exercise-sentence {
        display: block;
        margin-top: 10px;
        color: $dark-primary;
      }
    }
    .options {
      border: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      .option {
        width: 100%;
        border-radius: 24px;
        margin: 2px 5px 5px 0;
        background: $primary;
        padding: 0 20px;
        line-height: 12px;
        color: #ffffff;
        font-size: 1.1em;
        &:hover {
          background: $dark-primary;
          cursor: pointer;
          div {
            background: transparent;
          }
        }
      }
    }
  }
  .complete-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 1.2em;
    padding: 10px 15px;
    i {
      font-size: 2em;
      padding-right: 10px;
    }
    &.animated-button {
      animation-name: complete-button-animation;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes complete-button-animation {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.1);}
  100%  {transform: scale(1);}
}