app-game-task {
  position: relative;
  display: block;
  width: 100%;
  .next-task-button {
    font-size: 1.2em;
    padding: 5px 30px;
  }
  .task-points {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 3em;
    text-align: center;
    z-index: 100;
    color: $points-bg;
    .points-number {
      color: #ffffff;
      font-family: inherit;
      font-size: 0.8em;
    }
    // &.add-point {
    //   animation: add-point-animation 1s infinite;
    // }
    // &.lose-point {
    //   animation: lose-point-animation 1s infinite;
    // }
  }
  .task-wrapper {
    width: 100%;
    padding-top: 64px;
  }
  .nav-bar {
    background: $primary;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 50;
  }
  .nav-tabs {
    display: flex;
    height: 64px;
    position: relative;
    padding-top: 5px;
    margin: 0 70px;
    z-index: -1;
    background: $primary;
    .nav-tab {
      width: 25%;
      text-align: center;
      &:before {
        content: '';
        position: absolute;
        top: 30px;
        left: 12.5%;
        border-top: 2px solid $light-primary;
        background: $light-primary;
        width: 75%;
        z-index: -1;
      }
      .tab-icon {
        display: inline-block;
        background: $primary;
        border: 2px solid $light-primary;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        z-index: 10;
        color: $light-primary;
      }
      &.active-tab {
        .tab-icon {
          border-color: #ffffff;
          background: #ffffff;
          color: $primary;
        }
      }
    }
  }
}
.completed-points {
  padding-bottom: 20px;
  font-size: 1.2em;
  .fa-stack {
    color: $points-bg;
    font-size: 2em;
  }
  .points-number {
    color: #ffffff;
    font-family: inherit;
    font-size: 0.8em;
  }
}
.completed-character {
  display: block;
  margin: 20px auto;
  height: 200px;
  width: 200px;
  border: 6px solid $primary;
  border-radius: 50%;
}

@keyframes add-point-animation {
  0%   {color: $points-bg; transform: scale(1)}
  50%  {color: $correct-bg; transform: scale(1.5)}
  100% {color: $points-bg; transform: scale(1)}
}

@keyframes lose-point-animation {
  0%   {color: $points-bg; transform: scale(1)}
  50%  {color: $incorrect-bg; transform: scale(1.5)}
  100% {color: $points-bg; transform: scale(1)}
}