.profiles-wrapper {
  position: fixed;
  top: 64px;
  height: calc(100vh - 164px);
  overflow-y: auto;
  padding: 3vh 0;
  width: 100%;
  background: #f4d59a;
}
// .profiles-title {
//   background: #ffffff;
//   box-shadow: 10px 10px 8px -6px #0000004b !important;
//   display: inline-block;
//   width: auto;
//   margin: 0 auto;
//   padding: 5px 10px;
//   color: $dark-primary;
// }
.profiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  mat-card {
    width: 15%;
    min-width: 200px;
    max-width: 500px;
    margin: 2%;
    position: relative;
    text-align: center;
    border-radius: 0;
    box-shadow: 10px 10px 8px -6px #0000004b !important;
    &.person-failure {
      button {
        background: $incorrect;
      }
    }
    .pin-img {
      position: absolute;
      display: inline-block;
      top: -20px;
      left: 0;
      width: 100%;
      img {
        padding: 0;
        width: 20px;
      }
    }
    .profile-img {
      padding: 5% 0;
      width: 30%;
      min-width: 70px;
      max-width: 200px;
    }
    mat-card-title {
      font-size: 1.1em;
    }
    mat-card-content {
      margin-bottom: 60px;
      font-size: 1em;
    }
    button {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.culprit-found {
    .innocent-img {
       filter: grayscale(100%);
    }
  }
}