<div class="new-psw-container"><div class="new-psw-msg">
  <h2>Zmiana hasła</h2>
  <p *ngIf="msg">{{ msg }}</p>
  <a *ngIf="msg" mat-flat-button color="primary" href="/">Zaloguj się</a>

  <form *ngIf="id && token && newPswForm && showForm" id="newPswForm" class="auth-form" (ngSubmit)="savePsw()" [formGroup]="newPswForm">
    <p *ngIf="err" class="failure">{{ err }}</p>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Nowe hasło" formControlName="psw" required class="form-control">
      <mat-hint *ngIf="newPswForm?.get('psw')?.dirty">
        <div *ngIf="newPswForm?.get('psw')?.errors?.required" class="failure">To pole jest wymagane</div>
        <div *ngIf="newPswForm?.get('psw')?.errors?.minlength" class="failure">Hasło musi mieć min. 7 znaków</div>
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Powtórz nowe hasło" formControlName="psw2" required class="form-control">
      <mat-hint *ngIf="newPswForm?.get('psw2')?.dirty">
        <div *ngIf="newPswForm?.get('psw2')?.errors?.required" class="failure">To pole jest wymagane</div>
        <div *ngIf="!newPswForm?.get('psw2')?.errors?.required && newPswForm?.errors?.mismatch" class="failure">Hasła się różnią</div>
      </mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" class="auth-button" [disabled]="!newPswForm.valid">Zapisz</button>
  </form>
</div></div>