<ng-container *ngIf="user">
  <mat-toolbar color="primary">
    <h2 class="title">Witaj detektywie!</h2>
    <span class="navbar-right">
      <span class="user-name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.name}}</span>
      <button mat-flat-button (click)="logout()">Wyloguj</button>
      <button mat-flat-button (click)="showAbout = !showAbout">O grze</button>
    </span>
  </mat-toolbar>
  <mat-card>
    <mat-card-title>Misje</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let case of cases">
          <button mat-flat-button [color]="case.id === currentCase + 1 ? 'accent' : 'primary'" [disabled]="case.id > currentCase + 1" (click)="selectCase(case.id)">
            {{case.name}}
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-container>

<app-about *ngIf="showAbout" (modalClose)="showAbout = !showAbout"></app-about>