<ng-container *ngIf="user">
  <mat-toolbar color="primary">
    <span class=navbar-left>
      <span class="settings-icon"><i class="fa fa-cog" (click)="showSettings()"></i></span>
    </span>
    <h2 class="title">Witaj detektywie!</h2>
    <span class="navbar-right">
      <span class="user-name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.name}}</span>
      <button mat-flat-button (click)="logout()">Wyloguj</button>
    </span>
  </mat-toolbar>

  <div class="case-list">
    <mat-card *ngFor="let case of cases; let i = index" class="case-item">
      <img *ngIf="case.image" mat-card-image src="assets/img/scenes/{{case.image}}.png">
      <mat-card-title>{{i + 1}}. {{case.name}}</mat-card-title>
      <!-- <mat-card-content *ngIf="case.id <= currentCase">Najlepszy wynik: </mat-card-content> -->
      <mat-card-actions>
        <button mat-flat-button color="primary" [disabled]="case.id > currentCase + 1" (click)="selectCase(case.id)">
          <ng-container *ngIf="case.id > currentCase">Zacznij</ng-container>
          <ng-container *ngIf="case.id <= currentCase">Jeszcze raz</ng-container>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

<div *ngIf="settingsVisible" class="modal about-modal">
  <div class="modal-content">
    <h2>Gracz {{user.name}}</h2>
    <app-edit-user [user]="user" (updatedUser)="updatedUser($event)"></app-edit-user>
    <button class="button-close-modal" (click)="hideSettings()"><i class="fa fa-times"></i></button>
  </div>
</div>