<div *ngIf="errorMsg" class="error-container"><div class="error-msg">
  <h2><i class="fa fa-exclamation-triangle"></i> Błąd</h2>{{errorMsg}}
  <a mat-flat-button color="primary" [routerLink]="['/gameplay/list']"><i class="fa fa-arrow-circle-left"></i> Powrót</a>
</div></div>

<ng-container *ngIf="!errorMsg && caseId && currentTask && dynamicTasksContent">
  <div class="task-points" [@add]="addPoint ? 'add' : 'noChange'" [@lose]="losePoint ? 'lose' : 'noChange'" >{{pointsSum}}</div>
  <div class="help-button"><i class="fa fa-question" (click)="showHelp = true"></i></div>
  <div class="nav-bar">
    <div class="nav-tabs">
      <div *ngFor="let tab of tasksHeaders" class="nav-tab" [ngClass]="{'active-tab': currentTask === tab.id}">
        <div class="tab-icon"><i class="fa fa-{{tab.icon}}"></i></div>
      </div>
    </div>
  </div>
  <app-first-task *ngIf="currentTask === 1" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.firstTask"></app-first-task>
  <app-second-task *ngIf="currentTask === 2" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.secondTask"></app-second-task>
  <app-third-task *ngIf="currentTask === 3" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.thirdTask"></app-third-task>
  <app-fourth-task *ngIf="currentTask === 4" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.fourthTask"></app-fourth-task>
</ng-container>

<div *ngIf="showHelp && currentTask" class="modal about-modal" (click)="showHelp = false;changeDetector.detectChanges()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-guide [currentTask]="currentTask"></app-guide>
    <button mat-flat-button color="primary" (click)="showHelp = false;changeDetector.detectChanges()">OK</button>
    <button class="button-close-modal" (click)="showHelp = false;changeDetector.detectChanges()"><i class="fa fa-times"></i></button>
  </div>
</div>