<div class="task-points" [@add]="addPoint ? 'add' : 'noChange'" [@lose]="losePoint ? 'lose' : 'noChange'" >{{pointsSum}}</div>
<ng-container *ngIf="caseId && currentTask && dynamicTasksContent">
  <mat-toolbar color="primary">
    <h2>
      <ng-container *ngIf="currentTask === 1">1. Uzupełnij szczegóły sprawy</ng-container>
      <ng-container *ngIf="currentTask === 2">2. Odszukaj poszlaki </ng-container>
      <ng-container *ngIf="currentTask === 3">3. Rozpoznaj podejrzanego</ng-container>
      <ng-container *ngIf="currentTask === 4">4. Odzyskaj skradziony przedmiot</ng-container>
    </h2>
  </mat-toolbar>
  <app-first-task *ngIf="currentTask === 1" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.firstTask"></app-first-task>
  <app-second-task *ngIf="currentTask === 2" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.secondTask"></app-second-task>
  <app-third-task *ngIf="currentTask === 3" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.thirdTask"></app-third-task>
  <app-fourth-task *ngIf="currentTask === 4" (nextTask)="nextTask($event)" (pointsChange)="updatePoints($event)" [taskData]="dynamicTasksContent.fourthTask"></app-fourth-task>
</ng-container>