<div class="menu-wrapper" *ngIf="user">
  <div class="fullscreen-button"><i class="fa fa-arrows-alt" (click)="toggleFullscreen()"></i></div>
  <div class="title-logo">
      <h1>Gra &bdquo;AHA!&rdquo;</h1>
      <!-- <div class="menu-logo"><img src="assets/img/logo.svg"></div> -->
  </div>
  <h2 class="user-name">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.name}}
  </h2>
  <div class="menu-buttons">
    <button mat-flat-button (click)="play()" class="play-button">
        <i class="fa fa-play-circle" aria-hidden="true"></i> START</button>
    <button mat-flat-button (click)="showSettings = true">
        <i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</button>
    <button mat-flat-button (click)="showSurvey = true">
        <i class="fa fa-star" aria-hidden="true"></i> Oceń grę</button>
    <button mat-flat-button (click)="logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
  </div>
</div>

<div *ngIf="showSettings" class="modal about-modal" (click)="showSettings = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Gracz {{user.name}}</h2>
    <app-edit-user [user]="user" (updatedUser)="updatedUser($event)"></app-edit-user>
    <button class="button-close-modal" (click)="showSettings = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>

<div *ngIf="showSurvey" class="modal survey-modal" (click)="showSurvey = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Ankieta</h2>
    <app-player-survey-form (surveySent)="showSurvey = false"></app-player-survey-form>
    <button class="button-close-modal" (click)="showSurvey = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>