<form id="signupForm" class="auth-form" (ngSubmit)="signup()" [formGroup]="signupForm">
  <p *ngIf="err" class="failure">{{ err }}</p>
  <mat-form-field class="full-width">
    <input matInput type="email" placeholder="Adres e-mail" formControlName="mail" required class="form-control">
    <mat-hint *ngIf="signupForm?.get('mail')?.dirty">
      <div *ngIf="signupForm?.get('mail')?.errors?.required" class="failure">To pole jest wymagane</div>
      <div *ngIf="signupForm?.get('mail')?.errors?.email" class="failure">Niepoprawny adres email</div>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Nazwa użytkownika" formControlName="name" required class="form-control">
    <mat-hint *ngIf="signupForm?.get('name')?.dirty">
      <div *ngIf="signupForm?.get('name')?.errors?.required" class="failure">To pole jest wymagane</div>
      <div *ngIf="signupForm?.get('name')?.errors?.minlength" class="failure">Nazwa musi mieć min. 5 znaków</div>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Hasło" formControlName="psw" required class="form-control">
    <mat-hint *ngIf="signupForm?.get('psw')?.dirty">
      <div *ngIf="signupForm?.get('psw')?.errors?.required" class="failure">To pole jest wymagane</div>
      <div *ngIf="signupForm?.get('psw')?.errors?.minlength" class="failure">Hasło musi mieć min. 7 znaków</div>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
     <input matInput type="password" placeholder="Powtórz hasło" formControlName="psw2" required class="form-control">
     <mat-hint *ngIf="signupForm?.get('psw2')?.dirty">
      <div *ngIf="signupForm?.get('psw2')?.errors?.required" class="failure">To pole jest wymagane</div>
      <div *ngIf="!signupForm?.get('psw2')?.errors?.required && signupForm?.errors?.mismatch" class="failure">Hasła się różnią</div>
    </mat-hint>
  </mat-form-field>
  <div class="full-width radio">
    <mat-radio-group formControlName="group" required class="form-control">
      <mat-radio-button color="primary" value="educator">Nauczyciel</mat-radio-button>
      <mat-radio-button color="primary" value="student">Gracz</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field class="full-width" *ngIf="signupForm?.get('group').value === 'student'">
    <input matInput type="text" placeholder="Login nauczyciela" formControlName="educator" class="form-control">
    <mat-hint>Ten nauczyciel będzie mógł śledzić twój postęp w grze</mat-hint>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" class="auth-button" [disabled]="!signupForm.valid">Utwórz konto</button>
</form>
