<mat-toolbar color="primary">
  <div class="title">AHA! Gra ćwicząca czytanie ze zrozumieniem</div>
  <div class="navbar-right">
    <button mat-flat-button (click)="showAbout = !showAbout">O grze</button>
  </div>
</mat-toolbar>

<div class="auth-wrapper">
  <mat-tab-group [selectedIndex]="selectedAuthForm">
    <mat-tab label="Utwórz konto">
      <app-signup (signedUp)="redirectToLogin($event)"></app-signup>
    </mat-tab>
    <mat-tab label="Zaloguj się">
      <app-login [err]="err" [msg]="msg"></app-login>
    </mat-tab>
  </mat-tab-group>
</div>

<app-about *ngIf="showAbout" (modalClose)="showAbout = !showAbout"></app-about>