<i *ngIf="sceneLoading" class="fa fa-spinner loading-icon dark-spinner" aria-label="Trwa ładowanie"></i>
<div class="scene">
  <object *ngIf="svgSource" type="image/svg+xml" class="scene-svg" id="scene-object"
          [data]="svgSource" [ngClass]="{'visibility-hidden': sceneLoading}" (load)="sceneLoading = false">
  </object>
</div>
<div *ngIf="!sceneLoading" class="command-box">
  <p class="command" *ngIf="taskData.clues">
    {{ taskData.clues[currentCommand].command }}<br>
    <span *ngIf="mistake" class="failure">Źle, spróbuj jeszcze raz</span>
  </p>
</div>
<div class="clues-bar" *ngIf="taskData && taskData.clues">
  <div class="clue-item" *ngFor="let clue of taskData.clues">
    <img [ngClass]="{'opacity-hidden': !clue.found}" class="clue-img" src="assets/img/clues/{{ clue.clueName }}.png">
  </div>
</div>

<app-completed *ngIf="isCompleted" [taskId]="taskId" (nextTask)="nextTask.emit(taskId)"></app-completed>
