<div class="scene" [ngClass]="{'visibility-hidden': loading}">
  <object type="image/svg+xml" (load)="loading = false" class="scene-svg" id="scene-object" *ngIf="svgSource" [data]="svgSource">
  </object>
</div>
<div class="command-box">
  <p class="command" *ngIf="taskData.clues">
    {{ taskData.clues[currentCommand].command }}<br>
    <span *ngIf="mistake" class="failure">Źle, spróbuj jeszcze raz</span>
  </p>
</div>
<div class="clues-bar" *ngIf="taskData && taskData.clues">
  <div class="clue-item" *ngFor="let clue of taskData.clues">
    <img class="clue-img" *ngIf="clue.found" src="assets/img/clues/{{ clue.clueName }}.png">
  </div>
</div>

<app-completed *ngIf="isCompleted" [taskId]="taskId" (nextTask)="nextTask.emit(taskId)"></app-completed>
