<div *ngIf="taskData && taskData.exercises" class="fourth-task">
  <h3 class="centered">Skradziony przedmiot znajduje się w sejfie.<br>Odpowiedz na pytania, aby odkryć tajny szyfr!</h3>
  <div class="cipher-container">
    <div class="cipher-box">
      <div class="digit" *ngFor="let exercise of taskData.exercises"
        [ngClass]="{'incorrect-digit': (exercise.selected && !exercise.done),
                    'correct-digit': (exercise.selected && exercise.done)}">
        {{ exercise.selected }}
      </div>
    </div>
  </div>
  <div class="exercises">
    <mat-card *ngFor="let exercise of taskData.exercises">
      <mat-card-title class="centered">{{ exercise.question }}
      </mat-card-title>
      <mat-card-content>
        <mat-button-toggle-group [(ngModel)]="exercise.selected" class="options" [disabled]="exercise.done">
          <mat-button-toggle class="option" *ngFor="let option of exercise.options; index as i" [value]="i + 1" (change)="selectAnswer(option.id, exercise.correct, exercise.id)" >{{option.text}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-completed *ngIf="isCompleted" [taskId]="taskId" (nextTask)="nextTask.emit(taskId)"></app-completed>
