<mat-toolbar color="primary" class="control-panel-toolbar mat-elevation-z2">
  <div class="navbar-menu">
    <i class="fa fa-bars" [matMenuTriggerFor]="menu" aria-label="Menu"></i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showSettings = true"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</button>
      <button mat-menu-item (click)="showSurvey = true"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ankieta</button>
      <button mat-menu-item (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
    </mat-menu>
  </div>
  <h2 class="title">Gra &bdquo;AHA!&rdquo; - panel nauczyciela</h2>
  <span class="navbar-right">
    <span class="user-name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.name}}</span>
    <button mat-flat-button (click)="showSettings = true"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</button>
    <button mat-flat-button (click)="showSurvey = true"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ankieta</button>
    <button mat-flat-button (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
  </span>
</mat-toolbar>

<div class="control-panel-container">
  <div>
    <h3>Lista graczy:</h3>
    <p class="info-hint">Aby umożliwić nauczycielowi dostęp do statystyk i edycji treści gry, gracz w ustawieniach swojego konta może podać login nauczyciela.</p>

    <app-players-list *ngIf="players && players.length; else noPlayers" [players]="players"
      (showGamePerformance)="selectedPlayer = $event;visualizationType = null;showGamePerformance = true"
      (showGameSettings)="selectedPlayer = $event;showGameSettings = true"
    ></app-players-list>

    <ng-template #noPlayers>
      <ng-container *ngIf="!loading">Brak graczy</ng-container>
      <i *ngIf="loading" class="fa fa-spinner loading-icon dark-spinner" aria-label="Trwa ładowanie"></i>
    </ng-template>
  </div>
</div>
<ng-template #noData>Brak danych</ng-template>

<div *ngIf="showSettings" class="modal about-modal" (click)="showSettings = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Nauczyciel {{user.name}}</h2>
    <app-edit-user [user]="user" (updatedUser)="updatedUser($event)"></app-edit-user>
    <button class="button-close-modal" (click)="showSettings = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div *ngIf="showSurvey" class="modal survey-modal" (click)="showSurvey = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Ankieta</h2>
    <app-survey-form (surveySent)="showSurvey = false"></app-survey-form>
    <button class="button-close-modal" (click)="showSurvey = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div *ngIf="showGamePerformance" class="modal case-form-modal" (click)="showGamePerformance = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Gracz {{selectedPlayer.name}}: statystyki gry</h2>
    <ng-container *ngIf="selectedPlayer.performance && selectedPlayer.performance.length; else noData">
      <mat-form-field appearance="outline" class="select-visualization">
        <mat-label>Wybierz wizualizację</mat-label>
        <mat-select [(ngModel)]="visualizationType">
          <mat-option value="table">Tabela</mat-option>
          <mat-option value="scatterChart">Wykres punktowy</mat-option>
          <mat-option value="lineChart">Wykres liniowy</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <app-performance-table *ngIf="visualizationType === 'table'" [performance]="selectedPlayer.performance"></app-performance-table>
    <app-performance-chart *ngIf="visualizationType === 'scatterChart'" type="scatter" [performance]="selectedPlayer.performance" [currentCase]="selectedPlayer.currentCase"></app-performance-chart>
    <app-performance-chart *ngIf="visualizationType === 'lineChart'" type="line" [performance]="selectedPlayer.performance" [currentCase]="selectedPlayer.currentCase"></app-performance-chart>
    <button class="button-close-modal" (click)="showGamePerformance = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div *ngIf="showGameSettings" class="modal case-form-modal" (click)="showGameSettings = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Gracz {{selectedPlayer.name}}: ustawienia gry</h2>
    <app-modify-tasks [player]="selectedPlayer" (hide)="showGameSettings = false" (saved)="updateTaskData($event)"></app-modify-tasks>
    <button class="button-close-modal" (click)="showGameSettings = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
