<mat-toolbar color="primary" class="control-panel-toolbar">
  <div class="navbar-menu">
    <i class="fa fa-bars" [matMenuTriggerFor]="menu" aria-label="Menu"></i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showSettings = true"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</button>
      <button mat-menu-item (click)="showSurvey = true"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ankieta</button>
      <button mat-menu-item (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
    </mat-menu>
  </div>
  <h2 class="title">Gra &bdquo;AHA!&rdquo; - panel nauczyciela</h2>
  <span class="navbar-right">
    <span class="user-name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.name}}</span>
    <button mat-flat-button (click)="showSettings = true"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</button>
    <button mat-flat-button (click)="showSurvey = true"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ankieta</button>
    <button mat-flat-button (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
  </span>
</mat-toolbar>

<div class="control-panel-container">
  <div class="players-list" >
    <h3>Lista graczy:</h3>
    <div *ngIf="players && players.length; else noPlayers">
      <div class="player-record" *ngFor="let player of players">
        <span class="player-name"><i class="fa fa-user-o" aria-hidden="true"></i>{{player.name}}</span>
        <button mat-raised-button class="select-player"
          (click)="selectPlayer(player.name)"
          [ngClass]="{'active-player': selectedPlayer && selectedPlayer.name === player.name}">
          <i class="fa fa-list-ul" aria-hidden="true"></i> szczegóły
        </button>
      </div>
    </div>
    <ng-template #noPlayers>
      <ng-container *ngIf="!loading">Brak graczy</ng-container>
      <i *ngIf="loading" class="fa fa-spinner loading-icon dark-spinner" aria-label="Trwa ładowanie"></i>
    </ng-template>
  </div>
  <div class="player-details" *ngIf="selectedPlayer">
    <h3>Gracz {{selectedPlayer.name}}</h3>
    <app-performance-table [performance]="selectedPlayer.performance"
      *ngIf="selectedPlayer.performance && selectedPlayer.performance.length; else noData">
    </app-performance-table>

    <!-- <app-performance-chart [performance]="selectedPlayer.performance"
      *ngIf="selectedPlayer.performance && selectedPlayer.performance.length; else noData">
    </app-performance-chart> -->
    <ng-template #noData>Brak danych</ng-template>
  </div>
</div>

<div *ngIf="showSettings" class="modal about-modal" (click)="showSettings = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Nauczyciel {{user.name}}</h2>
    <app-edit-user [user]="user" (updatedUser)="updatedUser($event)"></app-edit-user>
    <button class="button-close-modal" (click)="showSettings = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div *ngIf="showSurvey" class="modal survey-modal" (click)="showSurvey = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Ankieta</h2>
    <app-survey-form (surveySent)="showSurvey = false"></app-survey-form>
    <button class="button-close-modal" (click)="showSurvey = false" aria-label="Zamknij"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>