<mat-toolbar color="primary">
  <span class=navbar-left>
    <span class="settings-icon"><i class="fa fa-cog" (click)="showSettings = true"></i></span>
  </span>
  <h2 class="title">Gra "AHA!" - panel nauczyciela</h2>
  <span class="navbar-right">
    <span class="user-name"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user?.name}}</span>
    <button mat-flat-button (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
    <button mat-flat-button (click)="showAbout = true">
      <i class="fa fa-info-circle" aria-hidden="true"></i> O grze</button>
  </span>
</mat-toolbar>

<div class="control-panel-container">
  <div class="players-list" >
    <h3>Lista graczy:</h3>
    <div *ngIf="players && players.length; else noPlayers">
      <div class="player-record" *ngFor="let player of players">
        <span class="player-name"><i class="fa fa-user-o"></i>{{player.name}}</span>
        <button mat-raised-button class="select-player"
          (click)="selectPlayer(player.name)"
          [ngClass]="{'active-player': selectedPlayer && selectedPlayer.name === player.name}">
          <i class="fa fa-list-ul" aria-hidden="true"></i> szczegóły
        </button>
      </div>
    </div>
    <ng-template #noPlayers>Brak graczy</ng-template>
  </div>
  <div class="player-details" *ngIf="selectedPlayer">
    <h3>Gracz {{selectedPlayer.name}}</h3>
    <app-performance-table [performance]="selectedPlayer.performance"
      *ngIf="selectedPlayer.performance && selectedPlayer.performance.length; else noData">
    </app-performance-table>

    <!-- <app-performance-chart [performance]="selectedPlayer.performance"
      *ngIf="selectedPlayer.performance && selectedPlayer.performance.length; else noData">
    </app-performance-chart> -->
    <ng-template #noData>Brak danych</ng-template>
  </div>
</div>

<app-about *ngIf="showAbout" (modalClose)="showAbout = false"></app-about>

<div *ngIf="showSettings" class="modal about-modal" (click)="showSettings = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Nauczyciel {{user.name}}</h2>
    <app-edit-user [user]="user" (updatedUser)="updatedUser($event)"></app-edit-user>
    <button class="button-close-modal" (click)="showSettings = false"><i class="fa fa-times"></i></button>
  </div>
</div>