.about-modal  {
  .modal-content {
    max-height: 90vh;
  }
  .about-logo {
    margin-top: 40px;
    img {
      height: 100px;
    }
  }
  table, th, td {
    border: 1px solid $light-gray;
    text-align: left;
  }
  .about-tasks-table {
    border-collapse: collapse;
    margin: 0 auto;
    th, td {
      padding: 10px;
    }
  }
  .demo-gallery {
    color: $primary;
    padding-top: 20px;
    .gallery-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
        min-width: 250px;
        height: auto;
        border: 10px solid $light-gray;
        border-radius: 4px;
      }
      button {
        font-size: 2em;
        padding: 10px 0;
      }
    }
  }
  h2 {
    color: $primary;
  }
  .contact {
    border-top: 1px solid $light-primary;
    margin-top: 30px;
    padding-top: 20px;
    a {
      color: $dark-primary;
      text-decoration: none;
    }
    .fa {
      color: $primary;
      margin-right: 10px;
    }
  }
}