.about-modal  {
  .about-logo {
    margin-top: 40px;
    img {
      height: 100px;
    }
  }
  table, th, td {
    border: 1px solid $light-gray;
    text-align: left;
  }
  .about-tasks-table {
    border-collapse: collapse;
    margin: 0 auto;
    th, td {
      padding: 10px;
    }
  }
}