.auth-modal {
  .modal-content {
    width: 100%;
    max-width: 600px;
  }
  .auth-form {
    width: 100%;
  }
  .full-width {
    display: block;
    width: 100%;
    &.radio {
      padding: 1.25em 0 2em;
      mat-radio-button {
        margin-right: 20px;
      }
    }
  }
  .auth-button {
    margin-top: 20px;
  }
  .forget-psw-button {
    display: block;
    padding: 0;
    color: #444444;
  }
  .request-reset {
    display: flex;
    .request-reset-button {
      margin: 10px 0 0 10px;
      height: 36px;
    }
  }
  .fa.loading-icon {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
  }
}
