.auth-wrapper {
  padding: 20px 10px;
  .mat-tab-group {
    min-width: 200px;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $light-gray;
  }
  .auth-form {
    width: 100%;
    margin: 20px auto;
    padding: 5%;
    min-height: 450px;
  }
  .full-width {
    display: block;
    width: 100%;
    &.radio {
      padding: 1.25em 0 2em;
      mat-radio-button {
        margin-right: 20px;
      }
    }
  }
  .auth-button {
    margin-top: 20px;
  }
}
