.control-panel-container {
  display: flex;
  padding: 2% 7%;
  .select-player {
    display: block;
    margin-bottom: 5px;
    min-width: 150px;
    &.active-player {
      background: $primary;
      color: #fff;
    }
  }
  .players-list {
    width: 20%;
  }
  .player-details {
    width: 80%;
  }
  table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
}