.control-panel-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  padding: 2% 5%;
  .player-record {
    border-bottom: 1px solid $light-gray;
    padding: 10px 0;
    &:first-child {
      border-top: 1px solid $light-gray;
    }
    .player-name {
      display: inline-block;
      min-width: 100px;
      line-height: 36px;
      .fa {
        margin-right: 5px;
        color: $primary;
      }
    }
    .select-player {
      &.active-player {
        background: $primary;
        color: #fff;
      }
    }
  }

  .players-list {
    width: 20%;
    min-width: 250px;
    padding-right: 20px;
  }
  .player-details {
    width: 70%;
    min-width: 400px;
  }
  .mat-elevation-z8 {
    display: block;
    overflow-x: auto;
  }
  table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
}