app-control-panel {
  .control-panel-container {
    margin-top: 64px;
    padding: 2% 5%;
  }
  table {
    width: 100%;
    text-align: left;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .performance-table, .players-table, .questions-table, .commands-table, .clues-table, .exercises-table {
    display: block;
    overflow-x: auto;
  }
  .info-hint {
    font-style: italic;
    font-size: 0.9em;
    color: gray;
  }
  th .mat-sort-header-button {
    font-size: 1.1em;
  }
  th i {
    padding-right: 5px;
  }
}
.control-panel-toolbar {
  .navbar-menu {
    display: none;
    .fa-bars {
      margin-right: 20px;
      font-size: 1.2em;
      &:hover {
        color: $light-primary;
      }
    }
  }
}
@media (max-width: 800px) {
  .control-panel-toolbar {
    .navbar-menu {
      display: block;
    }
    .navbar-right {
      display: none;
    }
  }
}

app-modify-tasks {
  .select-case-button {
    margin: 10px;
  }
  .select-case {
    width: 240px;
  }
  form {
    width: 100%;
    text-align: left;
    position: relative;
    .full-width {
      width: 100%;
    }
    .half-width {
      width: 40%;
      min-width: 200px;
      &:not(:last-child) {
        margin-right: 2%;
      }
    }
    .form-array-item, .form-group {
      position: relative;
      border: 1px solid $light-gray;
      padding: 20px;
      margin-bottom: 20px;
      h3 {
        font-size: 1.1em;
        margin-top: 0;
        text-align: center;
        font-weight: normal;
      }
    }
    .form-collapse-button {
      button {
        font-size: 1.1em;
      }
    }
    .delete-version-button {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .inline-field:not(:last-child) {
      margin-right: 10px;
    }
    .number-field {
      display: block;
      max-width: 300px;
    }
    table {
      width: 100%;
      overflow-x: auto;
      &, tr, td, th {
        border: none;
        border-collapse: collapse;
      }
      thead tr {
        background: #f1efef;
      }
      tbody tr:nth-child(even) {
        background: #f8f8f8;
      }
      td, th {
        padding: 5px 10px;
        .half-width {
          width: 100%;
        }
        &:first-child, &:last-child {
          width: 30px;
        }
      }
      td:first-child {
        padding-bottom: 20px;
      }
      th {
        padding: 10px;
      }
      button.mat-button {
        padding: 5px 0;
        width: 40px;
        min-width: 40px;
      }
      .mat-form-field-infix {
        border-top: 0;
      }
    }
    .form-description {
      font-style: italic;
      color: gray;
      padding: 5px 0 10px;
      text-align: center;
    }
    .group-err {
      font-size: 0.9em;
      padding: 10px 0 15px;
    }
    .form-clue-img {
      text-align: center;
      img {
        height: auto;
        width: auto;
        max-width: 50px;
        max-height: 50px;
      }
    }
    .row-title {
      text-align: center;
      vertical-align: center;
      font-style: italic;
      td {
        padding: 15px 10px !important;
      }
    }
    .inline-words {
      display: inline-block;
      padding-right: 5px;
      mat-form-field {
        width: 150px;
      }
    }
    .add-inline {
      padding-bottom: 10px;
    }
    .field-prefix {
      color: gray;
    }
  }
  .case-form-button {
    margin: 20px 5px;
  }
  .save-loading {
    position: relative;
    height: 100px;
  }
  .select-edit {
    display: block;
    width: 350px;
    margin: 0 auto;
  }
}