@import 'variables';
@import 'auth';
@import 'tasks/first-task';
@import 'tasks/second-task';
@import 'tasks/third-task';
@import 'tasks/fourth-task';
@import 'control-panel';
@import 'clues-bar';

@import 'dragula';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, 'Helvetica Neue', sans-serif; }
* {
  box-sizing: border-box;
  user-select: none;
}

.centered {
  text-align: center;
}
.failure {
  color: rgb(211, 87, 87);
}
.success {
  color: rgb(83, 160, 80);
}
app-game-task {
  .next-task-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100;
  }
  .task-points {
    position: fixed;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    z-index: 100;
    background: $light-gray;
    border-radius: 50%;
  }
}

.page-not-found {
  text-align: center;
  background: $primary;
  color: white;
  padding: 10%;
  width: 100%;
  height: 100vh;
}

.toolbar-spacer {
  flex: 1 1 auto;
}