.start-wrapper {
  background: $primary url('assets/img/menu_bg.svg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  .start-title {
    text-align: center;
    h1, h2 {
      font-weight: normal;
    }
    h1 {
      font-size: 2.5em;
    }
  }
  .start-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    button {
      display: block;
      width: 250px;
      padding: 20px;
      margin: 3vh 0;
      font-size: 1.3em;
      color: $primary;
      text-align: left;
      i {
        font-size: 2em;
        margin-right: 20px;
      }
    }
  }
  .cookies-info {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: calc(100vw - 11px);
    max-width: 700px;
    font-style: italic;
    background: rgba(20, 68, 102, 0.7);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85em;
    display: flex;
    flex-wrap: wrap;
    .cookies-text {
      width: 75%;
      min-width: 100px;
      flex-grow: 1;
    }
    .cookies-button {
      width: 20%;
      min-width: 130px;
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
  .beta-info {
    position: fixed;
    z-index: -1;
    color: $light-primary;
    right: 10px;
    bottom: 10px;
    font-style: italic;
  }
}